<!-- bootstrap 布局 -->
<%= render "shared/header" %>
<%= render "shared/nav"  %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div class="carousel slide" id="carousel-962183">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-962183"></li>
					<li data-slide-to="1" data-target="#carousel-962183"></li>
					<li data-slide-to="2" data-target="#carousel-962183" class="active"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<%= link_to image_tag("index.jpg", alt: "宣顺化工贸易有限公司") %>
						<div class="carousel-caption">
							<h4>
								公司概况
							</h4>
							<p>
								宣城市宣顺化工贸易有限公司位于安徽省宣城市区鳌峰办事处绿锦村绿锦铺，注册资金为10万人民币。
							</p>
							<p>经营范围包括：H20-化学危险品经营油漆及稀释剂。
							</p>

						</div>
					</div>
					<div class="item">
						<%= link_to image_tag("index.jpg", alt: "宣顺化工贸易有限公司") %>
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item active">
						<%= link_to image_tag("index.jpg", alt: "宣顺化工贸易有限公司") %>
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#carousel-962183" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-962183" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">公司概况</h3>
				</div>
				<div class="panel-body">
					宣城市宣顺化工贸易有限公司位于安徽省宣城市区鳌峰办事处绿锦村绿锦铺，注册资金为10万人民币。经营范围包括：油漆及稀释剂。 宣城市宣顺化工贸易有限公司于2011年5月23日在宣城工商局登记注册，我公司的办公地址位于人文荟萃， 自古便有“南宣北合”一说的宣城市， 宣城市区鳌峰办事处绿锦村绿锦铺，我们有最好的产品和专业的销售和技术团队，在公司发展壮大的5年里， 我们为客户提供最好的产品、良好的技术支持、 健全的售后服务，宣城市宣顺化工贸易有限公司是宣城化工行业知名企业，如果您对我公司的产品服务有兴趣，
					请在线留言或者来电咨询。
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">公司位置</h3>
				</div>
				<div class="panel-body">
					<!-- 以下是详细地图，地图上的红点为本公司在本市的位置 -->
					<div style="width:700px;height:290px;border:1px solid gray" id="container"></div>
					<script src="http://api.map.baidu.com/api?v=1.3" type="text/javascript"></script>
					<script type="text/javascript">
							var opts = {
									width: 250,     // 信息窗口宽度
									height: 50,     // 信息窗口高度
									title: "宣城市宣顺化工贸易有限公司"  // 信息窗口标题
							}
							//var infoWindow = new BMap.InfoWindow('深圳福田区福民路36号', opts);  // 创建信息窗口对象
							var infoWindow = new BMap.InfoWindow('宣城市区鳌峰办事处绿锦村绿锦铺', opts);  // 创建信息窗口对象

							var map = new BMap.Map("container");
							var point = new BMap.Point(107.759131, 34.508242);
							map.centerAndZoom(point, 5);
							getpoint('宣城市区鳌峰办事处绿锦村绿锦铺', '');

							map.enableScrollWheelZoom();                  //启用滚轮放大缩小。
							map.enableDoubleClickZoom();				  //启用双击放大。
							map.addControl(new BMap.NavigationControl());
							function getpoint(addr, area) {
									var myGeo = new BMap.Geocoder();
									// 将地址解析结果显示在地图上，并调整地图视野
									myGeo.getPoint(addr, function (point) {
											if (point) {
													map.centerAndZoom(point, 15);
													var marker = new BMap.Marker(point);        // 创建标注
													map.clearOverlays();
													map.addOverlay(marker);
													marker.openInfoWindow(infoWindow);      // 打开信息窗口
													marker.addEventListener("dragend", function (e) {
															this.openInfoWindow(infoWindow);
															infoWindow.redraw();
													})
													marker.addEventListener("click", function (e) {
															this.openInfoWindow(infoWindow);
															infoWindow.redraw();
													})
											} else {
													getpoint(area, area);
											}
									}, area);
							}
							function showinfo(zb) {
									var mapobj = mapArray[zb];
									var point = new BMap.Point(mapobj.x, mapobj.y);
									map.centerAndZoom(point, 14);
									var infoWindow = new BMap.InfoWindow(mapobj.newstext, opts);  // 创建信息窗口对象
									var marker = new BMap.Marker(point);        // 创建标注
									map.clearOverlays();
									map.addOverlay(marker);
									marker.openInfoWindow(infoWindow);      // 打开信息窗口
									marker.addEventListener("dragend", function (e) {
											this.openInfoWindow(infoWindow);
											infoWindow.redraw();
									})
									marker.addEventListener("click", function (e) {
											this.openInfoWindow(infoWindow);
											infoWindow.redraw();
									})
							}
					</script>
				</div>
			</div>

		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<%= link_to image_tag("product.jpg", alt: "宣顺化工贸易有限公司") %>
	</div>
	<div class="col-md-4">
		<%= link_to image_tag("product.jpg", alt: "宣顺化工贸易有限公司") %>
	</div>
	<div class="col-md-4">
		<%= link_to image_tag("product.jpg", alt: "宣顺化工贸易有限公司") %>
	</div>
</div>
</div>
<%= render "shared/footer"  %>
