<!-- bootstrap 布局 -->
<%= render "shared/header" %>
<%= render "shared/nav"  %>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">

			<div class="carousel slide" id="carousel-962183">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-962183"></li>
					<li data-slide-to="1" data-target="#carousel-962183"></li>
					<li data-slide-to="2" data-target="#carousel-962183" class="active"></li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<%= link_to image_tag("index.jpg", alt: "宣顺化工贸易有限公司") %>
						<div class="carousel-caption">
							<h4>
								公司概况
							</h4>
							<p>
								宣城市宣顺化工贸易有限公司位于安徽省宣城市区鳌峰办事处绿锦村绿锦铺，注册资金为10万人民币。
							</p>
							<p>经营范围包括：油漆及稀释剂。
							</p>

						</div>
					</div>
					<div class="item">
						<%= link_to image_tag("index.jpg", alt: "宣顺化工贸易有限公司") %>
						<div class="carousel-caption">
							<h4>
								宣顺化工贸易有限公司
							</h4>
							<p>
							我们为客户提供最好的产品、良好的技术支持、 健全的售后服务
							</p>
						</div>
					</div>
					<div class="item active">
						<%= link_to image_tag("index.jpg", alt: "宣顺化工贸易有限公司") %>
						<div class="carousel-caption">
							<h4>
								宣顺化工贸易有限公司
							</h4>
							<p>
								我们为客户提供最好的产品、良好的技术支持、 健全的售后服务
							</p>
						</div>
					</div>
				</div>
				<a class="left carousel-control" href="#carousel-962183" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" href="#carousel-962183" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">公司概况</h3>
				</div>
				<div class="panel-body">
					宣城市宣顺化工贸易有限公司位于安徽省宣城市区鳌峰办事处绿锦村绿锦铺，注册资金为10万人民币。经营范围包括：油漆及稀释剂。 宣城市宣顺化工贸易有限公司于2011年5月23日在宣城工商局登记注册，我公司的办公地址位于人文荟萃， 自古便有“南宣北合”一说的宣城市， 宣城市区鳌峰办事处绿锦村绿锦铺，我们有最好的产品和专业的销售和技术团队，在公司发展壮大的5年里， 我们为客户提供最好的产品、良好的技术支持、 健全的售后服务，宣城市宣顺化工贸易有限公司是宣城化工行业知名企业，如果您对我公司的产品服务有兴趣，
					请在线留言或者来电咨询。
				</div>
			</div>

			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">公司位置</h3>
				</div>
				<div class="panel-body text-center">
					<%= link_to image_tag("10.jpg", alt: "宣顺化工贸易有限公司") %>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 text-center">
			<%= link_to image_tag("4.jpg", alt: "宣顺化工贸易有限公司",width:200,height:200) %>
		</div>
		<div class="col-md-4 text-center">
			<%= link_to image_tag("5.jpg", alt: "宣顺化工贸易有限公司",width:200,height:200) %>
		</div>
		<div class="col-md-4 text-center">
			<%= link_to image_tag("6.jpg", alt: "宣顺化工贸易有限公司",width:200,height:200) %>
		</div>
	</div>
</div>
<%= render "shared/footer"  %>
